body {
  padding-bottom: 3rem;
  margin: 0;
  line-height: 20px;
  background-image: linear-gradient(
      180deg,
      rgba(50, 58, 69, 0.5),
      rgba(50, 58, 69, 0.5)
    ),
    url(pics/bodybg.jpg);
}
.bg-rendeles {
  margin: 0;
  line-height: 20px;
  background-image: linear-gradient(
      180deg,
      rgba(50, 58, 69, 0.5),
      rgba(50, 58, 69, 0.5)
    ),
    url(pics/shop1.jpg);
  background-size: cover;
}

.card {
  box-shadow: 20px 20px 25px #000000;
}
.card-title {
  text-align: center;
  font-size: 25px;
}
.card-text {
  text-align: center;
}

.nav-item {
  font-size: 20px;
  color: white;
  padding: 40px;
}
.ps {
  font-size: 20px;
  color: white;
}

.carousel {
  margin-bottom: 4rem;
}
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

.carousel-item {
  height: 45rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.featurette-divider {
  margin: 5rem 0;
}

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -0.05rem;
}

@media (min-width: 40em) {
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

.nav-link {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.nav-link:hover {
  font-size: 25px;
  background-color: rgb(42, 99, 255);
  color: black;
  border-radius: 20px;
}

.card-img-top:hover {
  background-color: rgb(0, 0, 0);
  border-radius: 50px;
}
.card-body:hover {
  background-color: rgb(36, 36, 36);
  color: rgb(255, 255, 255);
  border-radius: 20px;
}
